
<ion-content>
  <div class="container">
    <div class="header">
      <img src="../../../assets/images/logo(1).png" alt="Logo">
      <ion-text color="primary">
        <h1></h1>
      </ion-text>
    </div>
    <div class="page-content ion-padding">
      <ion-text color="light_confidenz">
        <h1>Connexion - Employé</h1>
      </ion-text>
      <ion-item-group mode="ios">
        <ion-item lines="none" color="blue_confidenz">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
        <ion-item lines="none" color="blue_confidenz">
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-item-group>
      <div class="ion-padding">
        <ion-button size="large" mode="ios"  expand="block" color="red_confidenz" (click)="login()">
          Connexion
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>