<ion-header [translucent]="true">
  <ion-toolbar color="blue_confidenz">
    <ion-title>
      Liste des fichiers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" [(ngModel)]="fi"></ion-searchbar>
  <span *ngIf="isloaded; then loaded else loading"></span>
  <ng-template #loading>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
  </ng-template>
  <ng-template #loaded>
    <ion-list>
      <ion-item *ngFor="let list of fichiers | filter:fi">
        <ion-avatar slot="start">
          <ion-img src="assets/images/fichier.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{list.nom}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    </ng-template>
</ion-content>
