<ion-header [translucent]="true">
  <ion-toolbar color="blue_confidenz">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light_confidenz">
  <div class="container about">
    <div>
      <ion-img src="assets/images/acc-fich.png"></ion-img>
      <h2><b>Confidentialité de vos fichiers</b></h2>
      </div>
      </div>
</ion-content>
